<section style="padding: 60px 100px 120px 100px;" class="text-center">
    <h3 class="font-30 bold medium-gray">Contact Us</h3>
    <div class="add-padding-top col-md-10 offset-md-1 add-padding-bottom" style="padding-top: 40px;">
        <h3 class="font-20 bold medium-gray text-left">Email Inquiries</h3>
        <h3 class="font-18 medium-gray text-left">
            For general inquiries or product issues such as site crashes, slow
            loads, unaccessible pages, and all other issues, please email us at
            <a href="mailto:hello@rxcarriers.com" target="_blank" class="background-transparent theme-color">
                hello@senzzu.com
            </a>
        </h3>
    </div>
    <div class="add-padding-top col-md-10 offset-md-1 add-padding-bottom" style="padding-top: 40px;">
        <h3 class="font-20 bold medium-gray text-left">Demo Scheduling</h3>
        <h3 class="font-18 medium-gray text-left">
            To schedule a demo of the product, please head to our calendar page on
            <a href="https://calendly.com/senzzu"
                class="background-transparent theme-color" target="_blank">
                Calendly
            </a>.
        </h3>
    </div>
</section>