<section id="contact-us">
    <div class="row" style="margin 0;">
        <div class="col-lg-6 offset-lg-3 no-padding">
            <div class="dh-card">
                <h5>Contact Us</h5>
                <hr>
                
                <p style="margin-bottom: 20px !important;">
                    For any question, concern, suggestion or feedback, feel free to
                    shoot us an email at
                    <a href="mailto:contact@dinnerhost.co" class="theme-cyan">
                        contact@dinnerhost.co
                    </a>, or get in touch on twitter
                    <a href="https://twitter.com/trydinnerhost" class="theme-cyan">
                        @trydinnerhost
                    </a>.
                </p>
                
                <p style="margin-bottom: 20px !important;">
                    Happy eating!<br/>
                    The DinnerHost Team
                </p>
            </div>
        </div>
    </div>
</section>