$('#newsletterResponse').html(`
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h6 class="alert-heading">This email is already subscribed!</h6>
        <a class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
`);

$('#submitEmail').html(`
    <i class="fa fa-paper-plane white"></i>
`);