<style>
    .main-navbar {
        background-color: transparent;
        border-bottom: none;
    }
    
    .main-nav-link {
        color: #fff;
    }
    
    #navbar-search {
        display: none;
    }
</style>
<section id="home-banner" style="background-image: url('https://s3.us-east-2.amazonaws.com/dinnerhost/static/banner_dinner_redone.jpg');
    background-position: center; background-size: cover; height: 660px;
    top: 0; bottom: 0; left: 0; right: 0; padding: 15px; margin-top: -75px;">
    <div class="row row-containing-main-search" style="margin-top: 15%;">
        <div class="col-md-8 offset-md-2">
            <h1 class="bold white">Ditch the restaurant</h1>
            <h5 class="white">Book a private cook for your next meal</h5>
            <div id="pac-container" style="width: 100%;">
                <form action="/search" method="get" id="banner-search-form">
                    <div class="input-group mb-3 box-shadow"
                        style="margin-bottom: 0 !important; border-radius: 5px;">
                        <div class="input-group-prepend main-search-input-prepend no-mobile-display">
                            <span class="input-group-text background-white no-mobile-display" id="basic-addon1"
                                style="padding-left: 15px; padding-right: 15px;
                                        border-color: #e7e7e9 !important;">
                                <i class="fa fa-search text-muted" style="font-size: 20px;"></i>
                            </span>
                        </div>
                        <input class="form-control" name="request_location"
                            id="banner-request-location" autocomplete="off"
                            placeholder="Where are you located?" type="search"
                            style="height: 70px; font-size: 18px;
                                width: 50%; border-radius: 0;
                                border-left: none; box-shadow: none;" required="true"
                                onkeyup="adjustPacContainerWidth()">
                        <button class="btn btn-primary no-mobile-display font-18"
                            style="border-top-left-radius: 0;
                                border-bottom-left-radius: 0; padding-left: 30px; padding-right: 30px;">
                            Search
                        </button>
                    </div>
                </form>
                <div id="map" style="display: none;"></div>
                <div id="infowindow-content"></div>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron background-white no-border-radius" style="padding-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center" style="padding-bottom: 30px;">
                <h3>Booking a chef is easy</h3>
                <hr style="height: 2px; background-color: #007bff; border-color: #007bff; width: 40%; margin: auto !important;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 how-to text-center">
                <img class="icon-image" src="/images/browse_meal.png" height="175"
                    style="text-align: center !important;">
                <p class="font-20 bold add-margin-top">
                    <span class="badge badge-primary" style="font-size: 25px;">
                        1
                    </span>
                    Browse
                </p>
                <p class="font-16 add-margin-top">
                    Choose from delicious listings in your area, or use our
                    filters to narrow down your search to exactly what your
                    stomach craves.
                </p>
            </div>
            <div class="col-md-4 how-to how-to-padded text-center">
                <img class="icon-image" src="/images/choose_chef.png" height="175">
                <p class="font-20 bold add-margin-top">
                    <span class="badge badge-primary" style="font-size: 25px;">
                        2
                    </span>
                    Book
                </p>
                <p class="font-16 add-margin-top">
                    Once you've selected and viewed the dish of your choice,
                    simply book the chef (you can also add additional meals before booking).
                </p>
            </div>
            <div class="col-md-4 how-to how-to-padded text-center">
                <img class="icon-image" src="/images/enjoy.png" height="175">
                <p class="font-20 bold add-margin-top">
                    <span class="badge badge-primary" style="font-size: 25px;">
                        3
                    </span>
                    Enjoy!
                </p>
                <p class="font-16 add-margin-top">
                    Sit back and relax with your guests, while your chef prepares
                    and serves your delicious meals. And don't forget to rate!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron no-border-radius"
    style="padding-top: 20px; background-image: url('/images/why_dinnerhost.png');
        background-size: cover; background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center" style="padding-bottom: 20px;">
                <h3 class="white">Here's why you should use DinnerHost</h3>
                <hr style="height: 2px; background-color: #007bff; border-color: #007bff; width: 40%; margin: auto !important;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <section style="margin-top: 25px;">
                    <h4 class="theme-color">
                        It's more convenient than eating out
                    </h4>
                    <p class="add-margin-top white">
                        Enjoy a 5-star restaurant experience, from the comfort
                        and convenience of your home.
                    </p>
                </section>
            </div>
            <div class="col-md-6">
                <section style="margin-top: 25px;">
                    <h4 class="theme-color">
                        Ideal for get-togethers
                    </h4>
                    <p class="add-margin-top white">
                        Having guests over? DinnerHost provides a cheaper alternative
                        to making restaurant reservations.
                    </p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <section style="margin-top: 30px;">
                    <h4 class="theme-color">
                        Experience the world
                    </h4>
                    <p class="add-margin-top white">
                        There's no limit to the cuisines that can be found
                        on DinnerHost. From Mediteranean to Peruvian, we have it all.
                    </p>
                </section>
            </div>
            <div class="col-md-6">
                <section style="margin-top: 30px;">
                    <h4 class="theme-color">
                        Fast & secure payments
                    </h4>
                    <p class="add-margin-top white">
                        Once your booking request is accepted by the chef,
                        we automatically bill your credit/debit card on file.
                    </p>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron background-white no-border-radius" style="padding-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center" style="padding-bottom: 30px;">
                <h3>For cooks/chefs</h3>
                <hr style="height: 2px; background-color: #007bff; border-color: #007bff; width: 40%; margin: auto !important;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 how-to text-center">
                <img class="icon-image" src="/images/share.png" height="175">
                <p class="font-20 bold add-margin-top">
                    Share Your Cooking
                </p>
                <p class="font-16 add-margin-top">
                    Lots of diners out there can't wait to experience your
                    cooking. Join DinnerHost and start receiving requests!
                </p>
            </div>
            <div class="col-md-4 how-to how-to-padded text-center">
                <img class="icon-image" src="/images/meet.png" height="175">
                <p class="font-20 bold add-margin-top">
                    Make Connections
                </p>
                <p class="font-16 add-margin-top">
                    DinnerHost is a great and convenient way to meet new people
                    and make awesome connections while doing what you love.
                </p>
            </div>
            <div class="col-md-4 how-to how-to-padded text-center">
                <img class="icon-image" src="/images/earn.png" height="175">
                <p class="font-20 bold add-margin-top">
                    Earn Money
                </p>
                <p class="font-16 add-margin-top">
                    Get paid to do what you love, whenever you want, wherever you want.
                    It's that simple.
                    <a class="background-transparent" href="/chefs/signup">
                        Get started today
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBfq6dmOO99qdVIkiI92DyhGoYJ5uD7qg&libraries=places&callback=initMap"
        async defer></script>
<script type="text/javascript">
    var body = document.querySelector('#main-body');
    body.classList.remove('container');
    body.style.marginTop = "0";
    body.style.paddingTop = "0";
    $('.main-nav-link').css('color', '#fff');
    $('.main-nav-link').css('font-weight', 'bold');
    
    document.querySelector('body').style.paddingTop = '0';
    document.querySelector('body').style.marginTop = '0';
</script>