<style>
    .navbar {
        background-color: transparent !important;
        border-bottom: none;
    }
</style>

<section id="banner" style="height: 650px; margin-top: -200px; background-image: url('https://s3.us-east-2.amazonaws.com/senzzu/banner.jpg'); background-size: cover; background-position: center; width: 100%; filter: brightness(80%);"></section>

<section class="container">
    <section id="search" class="row" style="margin-top: -360px; margin-bottom: 30px;">
        <div class="col-md-12 add-padding-bottom">
            <h1 class="white text-center" id="banner-text">Order from drugstores near you</h1>
        </div>
        <!--<div class="col-md-8 offset-md-2 add-padding-bottom">-->
        <!--    <h1 class="theme-blue text-center" id="banner-subtext">Find a store. Skip the line.</h1>-->
        <!--</div>-->
        <div class="col-md-8 offset-md-2">
            <form action="/search" method="get" id="storeSearchForm">
                <div class="input-group mb-3" style="margin-bottom: 0 !important;">
                    <div class="input-group-prepend">
                        <button class="input-group-text prepend-group cursor-pointer border-white" id="basic-addon1">
                            <i class="fa fa-search search-input-icon"></i>
                        </button>
                    </div>
                    <input type="hidden" id="search-type" name="search_type" value="address">
                    <input class="form-control no-box-shadow store-search border-white"
                        id="store-search" name="q" placeholder="Enter your address..." autocomplete="off" onfocus="showSuggestionBox();">
                    <div class="dropdown">
                        <a class="btn btn-primary white set-search-type"
                            style="height: 65px; border-top-left-radius: 0; border-bottom-left-radius: 0; padding-top: 20px;"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-angle-down bold"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -123px;">
                            <a class="background-transparent dropdown-item cursor-pointer" onclick="setSearchType('address')">
                                By address
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="background-transparent dropdown-item cursor-pointer" onclick="setSearchType('store')">
                                By store name
                            </a>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary height-50 box-shadow btn-block" align="center"
                    type="submit" id="submitStoreSearch" style="">
                    Search
                </button>
            </form>
            <div id="suggestionBoxContainer">
                <div id="suggestionBox">
                    <div id="map" style="display: none;"></div>
                    <div id="infowindow-content">
                        <img src="" width="16" height="16" id="place-icon">
                        <span id="place-name"  class="title font-17"></span><br>
                        <span id="place-address"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="theWhy" style="padding-bottom: 40px;">
        <div class="row" id="shopper-order-history-1" style="display: none;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 offset-md-5 text-center" style="padding-bottom: 20px;">
                        <h3>Past orders</h3>
                        <hr style="height: 2px; background-color: #F27649; border-color: #F27649; width: 40%; margin: auto !important;">
                    </div>
                </div>
            </div>
        </div>
        <div id="someDetails">
            <div class="row">
                <div class="col-md-4 offset-md-4 text-center" style="padding-bottom: 20px;">
                    <h3>How Senzzu works</h3>
                    <hr style="height: 2px; background-color: #F27649; border-color: #F27649; width: 40%; margin: auto !important;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 how-to text-center">
                    <img class="icon-image" src="https://s3.us-east-2.amazonaws.com/senzzu/how-1.jpg" height="175">
                    <p class="font-20 bold">Find a store near you</p>
                    <p class="font-16 add-margin-top">
                        Choose from several stores in your neighborhood
                        including drugstores, convenience stores, and wellness stores.
                    </p>
                </div>
                <div class="col-md-4 how-to text-center">
                    <img class="icon-image" src="https://s3.us-east-2.amazonaws.com/senzzu/how-2.jpg" height="175">
                    <p class="font-20 bold">Browse and select items</p>
                    <p class="font-16 add-margin-top">
                        100s of items are available, in several different sizes.
                        Pick your preferred size and fill your cart.
                    </p>
                </div>
                <div class="col-md-4 how-to text-center">
                    <img class="icon-image" src="https://s3.us-east-2.amazonaws.com/senzzu/how-3.jpg" height="175">
                    <p class="font-20 bold">Pick up your order or get delivery!</p>
                    <p class="font-16 add-margin-top">
                        Place your order for pickup, or get it delivered
                        directly to your door, with online or in-person payment
                        options!
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>

<section id="whatStores" style="padding: 40px 0; background-image: url('/images/background_gradient.png'); background-size: cover; background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center" style="padding-bottom: 20px;">
                <h3 class="white">Stores & items on Senzzu</h3>
                <hr style="height: 2px; background-color: #525f7f; border-color: #525f7f; width: 40%; margin: auto !important;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="card box-shadow">
                    <div class="card-body background-white">
                        <p class="font-20 bold">Drugstores</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card box-shadow">
                    <div class="card-body background-white">
                        <p class="font-20 bold">Grocery stores</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card box-shadow">
                    <div class="card-body background-white">
                        <p class="font-20 bold">Convenience stores</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card box-shadow">
                    <div class="card-body background-white">
                        <p class="font-20 bold">Wellness stores</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 30px;">
                <span class="badge badge-secondary badge-arrow-circle">
                    <i class="fa fa-angle-down"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 30px;">
                <% item_categories.each do |i| %>
                    <span class="badge badge-light theme-color font-20 add-margin-bottom">
                        <%= i %> <i class="fa fa-check theme-green"></i>
                    </span>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section id="forStores" style="background-color: #eeeeef; padding: 40px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center" style="padding-bottom: 20px;">
                <h3>Partner program</h3>
                <hr style="height: 2px; background-color: #F27649; border-color: #F27649; width: 40%; margin: auto !important;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="icon-image" src="https://s3.us-east-2.amazonaws.com/senzzu/more_customers.png" height="175">
                <p class="font-20 bold">Reach more customers</p>
                <p class="font-16 add-margin-top">
                    Customers are increasingly shopping online. Senzzu
                    provides you with the technology needed to
                    stay competitive.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="icon-image" src="https://s3.us-east-2.amazonaws.com/senzzu/customer_service.png" height="175">
                <p class="font-20 bold">Improve your customer service</p>
                <p class="font-16 add-margin-top">
                    Senzzu comes with automated text and email update capabilities,
                    which keeps your customer updated on their order's status.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="icon-image" src="https://s3.us-east-2.amazonaws.com/senzzu/restock_intelligence.png" height="175">
                <p class="font-20 bold">Restock more intelligently</p>
                <p class="font-16 add-margin-top">
                    Senzzu helps your store reduce loss from unpurchased
                    items by providing intelligent data on items that typically
                    sell the most
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="icon-image" src="https://s3.us-east-2.amazonaws.com/senzzu/custom_order.png" height="175">
                <p class="font-20 bold">Receive special order requests</p>
                <p class="font-16 add-margin-top">
                    Senzzu allows customers to place special requests for
                    items you may not have, which you
                    may fulfill at your discretion.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="icon-image" src="https://s3.us-east-2.amazonaws.com/senzzu/for_stores(analytics).png" height="175">
                <p class="font-20 bold">Keep track of payments</p>
                <p class="font-16 add-margin-top">
                    We partner with
                    <a href="https://stripe.com" target="_blank" class="background-transparent theme-color">
                        Stripe</a>,
                    the world's leading payment provider,
                    to make payments fast, simple and easily trackable!
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="icon-image" src="https://s3.us-east-2.amazonaws.com/senzzu/analytics_report.png" height="175">
                <p class="font-20 bold">Get weekly activities reports</p>
                <p class="font-16 add-margin-top">
                    We build insightful weekly reports by compiling
                    data from your orders, earnings and reviews,
                    and send them to your inbox.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-2 schedule-demo" style="padding-top: 30px;">
                <a class="btn btn-primary btn-block no-box-shadow" style="height: 50px !important; padding-top: 13px;" href="https://calendly.com/senzzu/product-demo" target="_blank">
                    Schedule a free demo
                </a>
            </div>
            <div class="col-md-4 try-senzzu" style="padding-top: 30px;">
                <button class="btn btn-primary btn-block no-box-shadow" style="height: 50px !important;" onclick="window.location.replace('/register-a-store')">
                    Try Senzzu for free
                </button>
            </div>
        </div>
    </div>
</section>

<section id="newsletter" style="padding: 40px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center" style="padding-bottom: 40px;">
                <h3>New store alerts, deals, giveaways and more</h3>
                <hr style="height: 2px; background-color: #F27649; border-color: #F27649; width: 40%; margin: auto !important;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 how-to text-center">
                <div id="newsletterResponse"></div>
                <form id="newsletterSubscriptionForm" data-remote="true" action="/subscribe" method="post" onsubmit="showFormLoader();">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend theme-border">
                            <span class="input-group-text prepend-group background-white theme-border" id="basic-addon1">
                                <i class="fa fa-envelope theme-color search-input-icon"></i>
                            </span>
                        </div>
                        <input class="form-control no-box-shadow newsletter-signup theme-border"
                            id="newsletter-signup" name="email" placeholder="Sign up for our newsletter">
                        <div class="input-group-append theme-border">
                            <button class="btn btn-primary no-box-shadow" id="submitEmail" style="padding-left: 15px; padding-right: 15px;">
                                <i class="fa fa-paper-plane white"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtkPxyakU5Nb1YO6daAGGytItWoeNL5vM&libraries=places&callback=initMap"-->
<!--    async defer>-->
<!--</script>-->