<section id="join">
    <div class="display-flex mobile-block-display" style="flex-wrap: wrap; padding: 30px 0;">
        <div class="col-lg-12 text-center">
            <h3 style="margin-bottom: 30px;">I am a...</h3>
        </div>
        <div class="col-lg-3 offset-md-3">
            <div class="card user-selection-card">
                <a class="no-underline"
                    href="/customer/signup" style="color: #000;">
                    <div class="card-body" align="center">
                        <h5 style="margin-bottom: 15px;">...Diner</h5>
                        <img src="/images/diner.png" height="140">
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card user-selection-card">
                <a class="no-underline"
                    href="/chef/signup" style="color: #000;">
                    <div class="card-body" align="center">
                        <h5 style="margin-bottom: 15px;">...Cook/Chef</h5>
                        <img src="/images/user_chef.png" height="140">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>