<section id="comm-acknowledgement" style="padding-top: 30px;">
    <div class="dh-row">
        <div class="col-lg-6">
            <h2 class="add-margin-bottom bold">Before you continue</h2>
            
            <p style="margin-bottom: 20px !important;">
                Our vision at DinnerHost is ultimately to connect people everywhere
                through food discovery. To that end, we encourage you to please
                commit to respecting and including everyone in the DH community.
                <a href="/terms" class="theme-cyan">
                    Learn more
                </a>
            </p>
            
            <p>
                By continuing, you agree to treat everyone—regardless of their race,
                religion, national origin, ethnicity, disability, sex, gender identity,
                sexual orientation, or age—with respect, and without judgment or bias.
            </p>
            
            <div style="margin-top: 20px;">
                <a href="/accept_guidelines"
                    class="btn btn-primary white height-50 mobile-block-display"
                    style="padding-top: 12px; padding-left: 20px; padding-right: 20px;">
                    Accept
                </a>
                <!--<a href="/decline_guidelines"-->
                <!--    class="btn btn-secondary white height-50"-->
                <!--    style="padding-top: 12px;">-->
                <!--    Decline-->
                <!--</a>-->
            </a>
        </div>
    </div>
</section>