$('#allStores').html(`
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center add-padding-top add-margin-top">
                <img src="/images/store-icon.jpg" height="200">
                <h6 class="dark">
                    Oops, looks like we aren't in your neighborhood yet. But hang
                    tight, we're actively working with new stores, and we should be
                    around very shortly!
                </h6>
            </div>
        </div>
    </div>
`);