<section id="refer-a-chef" class="text-center">
    
    <div class="row" style="margin: 0;">
        <div class="col-lg-3 no-mobile-padding">
            <div class="dh-card" style="height: 100%;">
                <h5>
                    Booking credits
                </h5>
                <hr>
                <div class="card-body text-center">
                    <h1>$<%= @user.credit_value %></h1>
                </div>
            </div>
            
            <!--<div class="card add-margin-top">-->
            <!--    <div class="card-header background-cyan">-->
            <!--        Referral link-->
            <!--    </div>-->
                
            <!--    <div class="card-body text-center">-->
            <!--        <div class="input-group mb-3">-->
            <!--            <input class="form-control" value="dnrho.st/8452"-->
            <!--                id="referral-id" disabled="true">-->
            <!--            <div class="input-group-append">-->
            <!--                <span class="input-group-text" id="basic-addon2">-->
            <!--                    <i class="fa fa-">-->
            <!--                </span>-->
            <!--            </div>-->
            <!--        </div>-->
                    
            <!--        <button class="btn btn-secondary">-->
            <!--            Click to copy-->
            <!--        </button>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
        <div class="col-lg-9 no-padding">
            <div class="dh-card">
                <h5>
                    Invite chefs by email
                </h5>
                <hr>
                <div>
                    <form action="/submit-chef-referral" method="post"
                        id="chef-referral-form" data-remote="true">
                        <textarea class="form-control no-box-shadow"
                            name="chef_referral[list]" style="height: 80px;"
                            placeholder="Emails, separated by a comma"
                            id="email_referral_list"></textarea>
                        
                        <div class="actions" align="right">
                            <button class="btn btn-primary mobile-block-display
                                add-margin-top height-50" type="submit"
                                data-disable-with="Sending referrals...">
                                Send Referrals
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
            <!--<div class="card" style="margin-top: 20px;">-->
            <!--    <div class="card-header background-cyan">-->
            <!--        Invites sent-->
            <!--    </div>-->
                
            <!--    <div class="card-body">-->
            <!--        <div class="row">-->
            <!--            <div class="col-lg-12">-->
                        
            <!--                <hr>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </div>
</section>