$('.register-store').remove();
$('#form').html(`
    <div class="text-center" style="margin-top: 100px; padding-bottom: 150px;">
        <i class="fa fa-check-circle-o theme-green" style="font-size: 75px; margin-top: 15px;"></i>
        <p class="font-16 text-center" style="margin-top: 20px;">
            Your request has been received! We will be contacting you within the next 24hrs.
        </p>
    </div>
`);