$('.cook-report-modal-body').html(`
    <div class="modal-body-header">
        <h4 class="bold modal-body-header-headline">
            Thank you for your feedback!
        </h4>
    </div>
    
    <div style="margin-top: 20px;">
        <p>
            Feel free to
            <a href="/" class="background-transparent theme-cyan underline">
                contact us
            </a> for any further question or concern!
        </p>
    </div>
`);