<section id="meal-search-results">
    <div class="container">
        <% if @meals.present? %>
            <%= render partial: 'meals/meals', locals: { meals: @meals } %>
        <% else %>
            <%= render 'meals/no_meal' %>
        <% end %>
    </div>
</section>