<section id="meal-search-results">
    <div class="row">
        <div class="col-md-8">
            <form action="/search" mehtod="get">
                <div class="input-group mb-3" style="margin-bottom: 0 !important;">
                    <input class="form-control no-box-shadow" name="meal_type" id="meal-type"
                        placeholder="What type of meal are you in the mood for?"
                        autocomplete="off">
                    <input class="form-control no-box-shadow" name="request_location" id="request-location"
                        placeholder="Where are you located?"
                        autocomplete="off">
                    <button class="btn btn-primary white">
                        Search
                    </button>
                </div>
            </form>
            
            <hr>
            
        </div>
    </div>
    <div class="row">
        <% if @meals.present? %>
            <%= render partial: 'meals/meals', locals: { meals: @meals } %>
        <% else %>
            <%= render 'meals/no_meal' %>
        <% end %>
    </div>
</section>