<form action="/search" mehtod="get">
    <div class="input-group mb-3" style="margin-bottom: 0 !important;">
        <input class="form-control no-box-shadow" name="meal_type" id="meal-type"
            placeholder="What type of meal are you in the mood for?"
            autocomplete="off">
        <input class="form-control no-box-shadow" name="request_location" id="request-location"
            placeholder="Where are you located?"
            autocomplete="off">
        <button class="btn btn-primary white">
            Search
        </button>
    </div>
</form>