<section id="user-type-selection">
    <div class="row">
        <div class="col-md-6">
            <h6>Customer login</h6>
            <p>
                <a href="/customer/login" class="btn btn-primary">
                    Login
                </a>
            </p>
        </div>
        <div class="col-md-6">
            <h6>Chef login</h6>
            <p>
                <a href="/chef/login" class="btn btn-primary">
                    Login
                </a>
            </p>
        </div>
    </div>
</section>