<style>
    footer {
        display: none;
    }
</style>
<section id="orderHistory" style="padding-bottom: 15px;" class="container">
    <section class="table-header">
        <div class="row">
            <div class='col-md-12'>
                <h5 class="">Order History</h5>
            </div>
            <div class="col-md-12">
                <hr style="margin-bottom: 15px; height: 1px; background-color: #525f7f; border-color: #525f7f;">
            </div>
        </div>
    </section>
    <section class="table-body row" id="shopper-order-history"></section>
</section>

<script>
    
    var data = {
        "type": "shopper-order-history",
        "shopperID": "<%= params[:shopper_id] %>"
    };
    readShopperDataFromFirestore(data, "shopper-order-history");
</script>