<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your reservation request has been sent to <%= @chef.first_name %>!</h1>
    <p>
        Once the request is accepted, you will receive a confirmation email with further details.
    </p>
    
    <p>Bon appetit!</p>
  </body>
</html>