<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="application.css">
    <link rel="stylesheet" href="library.css.scss">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400" rel="stylesheet">
  </head>
  <body style="padding-top: 30px; font-family: 'roboto', sans-serif;">
    <section class="row" style="margin: 0;">
      <div class="col-lg-6 offset-lg-3">
        <a class="navbar-brand cursor-pointer" href="https://dinnerhost.co">
          <img src="https://s3.us-east-2.amazonaws.com/dinnerhost/static/dinnerhost_logo.png" height="50">
        </a>
        
        <p style="margin-top: 30px; font-size: 17px;">
            Hi there,<br /><br />
            Your friend <%= @customer.first_name %> has invited to join DinnerHost!
        </p>
        
        <p style="margin-top: 30px; font-size: 17px;">
            As a DinnerHost cook, you can get booked on-demand to cook your best dishes
            for hungry diners in your area. Signing up is simple, and you can
            start receiving requests right away!
        </p>
        
        <a href="https://dinnerhost.co/chef/signup"
          class="btn white mobile-block-display"
          style="margin-top: 30px; display: inline-block;
                font-weight: 400;
                text-align: center;
                cursor: pointer;
                white-space: nowrap;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                border: 1px solid transparent;
                padding: 10px 20px;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 2px;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                background-color: #007bff;
                border-color: #007bff;
                color: #fff;
                font-size: 16px;">
          Join DinnerHost
        </a>
        
        <p style="margin-top: 30px; font-size: 17px;">
          Thanks,<br />
          The DinnerHost Team
        </p>
      </div>
    </section>
  </body>
</html>