<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Unfortunately, <%= @chef.first_name %> was unable to accept your reservation request.</h1>
    <p>
        But don't worry, we have you covered. Head to https://dinnerhost.co for more delicious listings!
    </p>
  </body>
</html>