<style>
    
    .dropdown-menu {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .category {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .category:hover {
        background-color: #b2d7ff;
    }
    
    .dropdown-divider {
        margin: 0;
    }
</style>

<section id="admin_posts" style="padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                        href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Published posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                        href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Drafts</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr style="margin-bottom: 15px; height: 1px; background-color: #525f7f; border-color: #525f7f;">
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                    <%= render partial: 'articles/articles', locals: {articles: @published} %>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row">
                    <%= render partial: 'articles/articles', locals: {articles: @drafts} %>
                </div>
            </div>
        </div>
    </div>
</section>