<style>
    
    .dropdown-menu {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .category {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .category:hover {
        background-color: #b2d7ff;
    }
    
    .dropdown-divider {
        margin: 0;
    }
</style>
<section id="profileSettingsForm" style="margin-bottom: 40px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
</section>