<% if cook.licensed %>
    <p class="bold">
        License
    </p>
    
    <p>
        <%= cook.license_type %>
    </p>
<% end %>

<p class="bold add-margin-top">
    Education
</p>

<p>
    <%= cook.education %>
</p>

<p class="bold add-margin-top">
    Languages
</p>

<p>
    <%= cook.languages %>
</p>