<% meals.each do |m| %>
    <div class="col-md-4 add-margin-bottom" style="padding: 0 5px;">
        <div class="card cursor-pointer meal-card" id="card-meal-<%= m.id %>"
            onclick="selectMeal(this)">
            <div class="card-body"
                style="background-image: url('<%= m.image %>'); background-size: cover;
                    background-position: center; height: 130px; border-top-left-radius: 5px;
                    border-top-right-radius: 5px;">
                <span class="badge badge-primary"><%= m.meal_type %></span>
            </div>
            <div class="card-footer" style="padding: 10px 10px;">
                <span class="bold font-13 float-left">
                    <%= m.name %>
                </span>
                <span class="float-right" id="selection-circle">
                    <i class="fa fa-circle-thin text-muted" style="font-size: 20px; top: -2px;"></i>
                </span>
            </div>
        </div>
    </div>
<% end %>

<script type="text/javascript">
    $mealCard = $('.meal-card');
    $mealCard.hover(shadowCard);
    
    function shadowCard() {
        $(this).toggleClass('box-shadow-amp');
    };
    
    function selectMeal(elem) {
        var mealID = elem.id.split('card-meal-').join('');
        $('#' + elem.id).toggleClass('box-shadow-amp');
        $('#' + elem.id + ' #selection-circle')
        .html('<i class="fa fa-circle theme-cyan" style="font-size: 20px; top: -2px;"></i>');
        $('.meal-ids').append(mealID + ',');
        updateReservationParams();
        var data = { meal_ids: $('.meal-ids').text() };
        $.get('/booking-estimate', { reservation: data });
    };
</script>