<% if chef.license != "none" %>
    <span class="badge badge-success background-transparent border-green theme-green"
        style="border-width: 0.5px; border-style: solid;">
        <%= chef.license_type %>
    </span>
<% end %>