<% if current_chef.meals.present? %>
    <% current_chef.meals.not_deleted.each do |m| %>
        <p>
            <%= m.name %>
            <%= link_to "/dish/#{m.id}/#{m.slug}", class:"background-transparent theme-green", style:"margin-left: 10px;" do %>
                View
            <% end %> |
            <%= link_to "/dish/#{m.id}/#{m.slug}/edit", class:"background-transparent theme-cyan" do %>
                Edit
            <% end %>
        </p>
        
        <hr>
        
    <% end %>
<% else %>
    <div align="center">
        <p>
            You haven't listed a dish yet.
            <a href="/new-dish" class="theme-cyan"
                style="margin-top: 10px; padding-top: 12px;">
                Post your first dish
            </a>
        </p>
    </div>
<% end %>