<% if current_chef.meals %>
    <% current_chef.meals.not_deleted.each do |m| %>
        <p>
            <%= m.name %>
            <%= link_to "/dish/#{m.id}/#{m.slug}/edit", class:"background-transparent theme-cyan" do %>
                Edit
            <% end %>
        </p>
        
        <hr>
        
    <% end %>
<% else %>
    <a href="/new-dish" class="btn btn-primary">
        Add a dish
    </a>
<% end %>