<form id="cook-payout-form" data-remote="true">
  <span id="first_name" class="no-display"><%= current_chef.first_name %></span>
  <span id="last_name" class="no-display"><%= current_chef.last_name %></span>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Account</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control no-box-shadow" name="account_number"
        id="account-number" placeholder="Account number" required="true">
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Routing</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control no-box-shadow" name="routing_number"
        id="routing-number" placeholder="Routing number" required="true">
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>DOB</label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control no-box-shadow" name="dob" id="dob"
        placeholder="mm/dd/yyyy" required="true">
    </div>
    
    <div class="col-md-2">
      <label>SSN Last 4</label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control no-box-shadow" name="last_4"
        id="last_4" placeholder="0000" required="true">
    </div>
  </div>
  
  <div class="actions text-center action-button">
    <button class="btn btn-primary height-50" id="update-payout">
      Update
    </button>
  </div>
  
</form>