<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary height-50 add-margin-bottom reservation-control-button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span style="padding-right: 45px;">
                Pending (<%= @reservations.pending.count %>)
            </span> <i class="fa fa-angle-down"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="background-transparent dropdown-item cursor-pointer"
                onclick="loadReservationCategory('pending', 'reservations-box')"
                style="width: inherit;">
                Pending (<%= @reservations.pending.count %>)
            </a>
            <div class="dropdown-divider"></div>
            <a class="background-transparent dropdown-item cursor-pointer archived-conversations"
                onclick="loadReservationCategory('accepted', 'reservations-box')">
                Accepted (<%= @reservations.accepted.count %>)
            </a>
            <div class="dropdown-divider"></div>
            <a class="background-transparent dropdown-item cursor-pointer archived-conversations"
                onclick="loadReservationCategory('denied', 'reservations-box')">
                Denied (<%= @reservations.denied.count %>)
            </a>
        </div>
    </div>
</div>