<section id="my-listings">
    <div class="col-lg-8 offset-lg-2 no-padding">
        <div class="dh-card">
            <h5>My Listings</h5>
            <hr>
            <%= render 'meals_edit' %>
        </div>
    </div>
</section>