<section id="cook-reservations">
    <div class="col-lg-12">
        <h3 class="bold">Reservations</h3>
    </div>
    
    <div class="col-lg-12">
        <hr>
    </div>
    
    <div id="reservations-box" class="col-lg-12">
        <%= render partial: 'payouts' %>
    </div>
</section>

<script type="text/javascript">
    function loadReservationCategory(category, element) {
        loading(element);
        var pending = <%= @reservations.pending.count %>;
        $.get('/reservations/' + category);
        $('.reservation-control-button').html(`
            <span style="padding-right: 45px;">
                ` + category.slice(0, 1).toUpperCase() + category.slice(1) + `
            </span> <i class="fa fa-angle-down"></i>
        `);
    }
</script>