<section id="my-listings">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header background-cyan">
                    Social Settings
                </div>
                <div class="card-body">
                    <%= render 'social_form' %>
                </div>
            </div>
        </div>
    </div>
</section>