<section id="my-listings">
    <div class="col-lg-8 offset-lg-2 no-padding">
        <div class="dh-card">
            <h5>Social Settings</h5>
            <hr>
            <%= render 'social_form' %>
        </div>
    </div>
</section>