var sortBy = "<%= @sort_by %>";

$('.sort-reservations-dropdown').html(`
    <span class="float-left">
        ` + "<%= @sort_by.capitalize %>" + `
    </span>
    <span class="float-right">
        <i class="fa fa-angle-down"></i>
    </span>
`);


$('#reservation-payouts').html(`
    <%= render partial: 'payout_reservations', locals: { reservations: @reservations } %>
`);