$('#conversations-box')
.html(`
    <div class="card-body">
        <div class="row">
            <%= render partial: 'conversations', locals: { conversations: @active } %>
        </div>
    </div>
`);