<section id="customer-inbox">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <%= render partial: 'conversations', locals: { conversations: @conversations } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>