<section id="customer-inbox">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="dropdown inbox-navs">
                <button class="btn btn-primary height-50 add-margin-bottom" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span style="padding-right: 45px;">All Messages (<%= @active.count %>)</span> <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="background-transparent dropdown-item cursor-pointer"
                        href="/customer/inbox">
                        All Messages (<%= @active.count %>)
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="background-transparent dropdown-item cursor-pointer"
                        onclick="loadConversationCategory('archived', 'conversations-box')">
                        Archived (<%= @archived.count %>)
                    </a>
                </div>
            </div>
            <div class="card" id="conversations-box">
                <div class="card-body">
                    <div class="row">
                        <%= render partial: 'conversations', locals: { conversations: @active } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function loadConversationCategory(category, element) {
        loading(element);
        $.get('/inbox/' + category);
    }
</script>