<section id="customer-inbox">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="dropdown inbox-navs">
                <%= render 'inbox_navs' %>
            </div>
            <div class="card" id="conversations-box">
                <div class="card-body">
                    <div class="row">
                        <%= render partial: 'conversations', locals: { conversations: @active } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function loadConversationCategory(category, element) {
        loading(element);
        $.get('/inbox/' + category);
    }
</script>