<section id="customer-inbox" class="col-lg-10 offset-lg-1">
    <div class="display-flex mobile-block-display">
        <div class="col-lg-3 no-padding">
            <div class="dropdown inbox-navs">
                <%= render 'inbox_navs' %>
            </div>
        </div>
    </div>
    <div class="dh-card no-mobile-padding" id="conversations-box">
        <%= render partial: 'conversations', locals: { conversations: @active } %>
    </div>
</section>

<script type="text/javascript">
    function loadConversationCategory(category, element) {
        loading(element);
        $.get('/inbox/' + category);
    }
</script>