<section id="account-pending" class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header theme-background text-center">
                    <h5 class="white">Your account is pending approval</h5>
                </div>
                <div class="card-body">
                    <p class="font-16">
                        We have received your information and are currently
                        processing the details. Please allow up to
                        24-48 hrs for the process to be completed. We will send
                        you a confirmation email once your account has been
                        approved. In the meantime, <b>you may still receive order
                        requests on your dashboard</b>, but your customers will
                        be paying in person.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>