<section id="newItemForm" style="margin-bottom: 40px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="field col-md-8">
                            <label class="bold">Name</label>
                            <input class="form-control" name="item_name" id="itemName" placeholder="Name">
                        </div>
                        <div class="field col-md-4">
                            <label class="bold">NDC</label>
                            <input class="form-control" name="item_ndc" id="itemNDC" placeholder="(if applicable)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="field col-md-3">
                            <label class="bold">Strength</label>
                            <input class="form-control" name="item_strength" id="itemStrength" placeholder="(if applicable)">
                        </div>
                        <div class="field col-md-3" id="oneSizeInput">
                            <label class="bold">Size</label>
                            <input class="form-control" name="item_size" id="itemSize" placeholder="Ex: 100 tabs">
                        </div>
                        <div class="field col-md-2" id="oneSizePrice">
                            <label class="bold">Price</label>
                            <input class="form-control" name="item_price" id="itemPrice" placeholder="Ex: 8.99">
                        </div>
                        <div class="field col-md-4" id="multipleSizeText">
                            <label class="bold">*</label><br />
                            <a class="background-transparent theme-color cursor-pointer underline" onclick="multipleSizes()">More than one size available?</a>
                        </div>
                        <div class="field col-md-7" id="multipleSizes" style="display: none;">
                            <label class="bold">Available Sizes</label>
                            <div class="input-group mb-3">
                                <input class="form-control" name="item_sizes" id="addSize" placeholder="(ex: 12oz)">
                                <div class="input-group-append">
                                    <span class="input-group-text cursor-pointer" onclick="addSize()" id="addSizeBtn">Add size</span>
                                </div>
                            </div>
                        </div>
                        <div class="field col-md-2" id="oneSizeText" style="display: none;">
                            <label class="bold">*</label><br />
                            <a class="background-transparent theme-color cursor-pointer underline" onclick="oneSize()">Only one size</a>
                        </div>
                        <div class="col-md-12"><div class="row" id="availableSizes"></div></div>
                    </div>
                    <div class="row">
                        <div class="field col-md-12">
                            <label class="bold">Description</label>
                            <textarea class="form-control no-box-shadow height-100" name="item_description" id="itemDescription" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field col-md-8">
                            <button class="btn btn-secondary btn-flat box-shadow btn-block height-55 filter-items" id="filterItems" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category <i class="fa fa-angle-down"></i>
                            </button>
                            <div class="dropdown-menu" style="width: 100%;" aria-labelledby="dropdownMenuButton" id="allCategories"></div>
                            <input type="hidden" name="item_category" id="itemCategory">
                        </div>
                        <div class="field col-md-4">
                            <button class="btn btn-secondary btn-flat box-shadow btn-block height-55 taxable-items" id="taxableItem" id="dropdownTaxable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Taxable <i class="fa fa-angle-down"></i>
                            </button>
                            <div class="dropdown-menu" style="width: 100%;" aria-labelledby="dropdownTaxable">
                                <% ['Yes', 'No'].each do |t| %>
                                    <a class="dropdown-item theme-blue cursor-pointer" id="taxable-<%= t %>" onclick="setTaxable(this)"><%= t %></a>
                                    <div class="dropdown-divider"></div>
                                <% end %>
                            </div>
                            <input type="hidden" name="item_category" id="itemTaxable">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="action">
                        <span class="float-left">
                            <button class="btn btn-primary height-55" style="padding: auto !important;" onclick="window.location.href = '/inventory';">
                                <i class="fa fa-angle-left"></i> Inventory
                            </button>
                        </span>
                        <span class="float-right">
                            <button class="btn btn-success height-55" id="addItem" onclick="addItem(this)">
                                Add item to inventory <i class="fa fa-angle-right"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var data = {
        'type': 'categories'
    };
    readDataFromFirestore(data);
</script>