<section id="liveOrders">
    <div class="row">
        <% if !current_store.has_a_bank_account || !current_store.live || current_store.has_no_hours %>
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <h6 class="alert-heading bold">The following actions are required</h6>
                    <ul>
                        <% current_store.actions_required.split('|').each do |a| %>
                            <li class="font-15"><%= a %></li>
                        <% end %>
                    </ul>
                    <hr style="margin-top: 15px; margin-bottom: 15px;">
                    <% if current_store.has_no_hours %>
                        <a class="btn btn-primary" href="/edit/hours">Set up my hours</a>
                    <% end %>
                    <% if !current_store.has_a_bank_account %>
                        <a class="btn btn-secondary" href="/earnings">Set up my bank account</a>
                    <% end %>
                    <% if !current_store.live %>
                        <button class="btn btn-success white"
                            <% if current_store.has_no_hours %>disabled<% end %>
                            onclick="goLive()">
                            Go live
                        </button>
                    <% end %>
                </div>
            </div>
        <% end %>
        <div class="col-md-9">
            <!--<section id="briefAnalytics" style="margin-bottom: 20px;">-->
            <!--    <div class="row">-->
            <!--        <div class="col-md-4">-->
            <!--            <div class="card">-->
            <!--                <div class="card-body">-->
                                
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="col-md-4">-->
            <!--            <div class="card">-->
            <!--                <div class="card-body">-->
                                
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="col-md-4">-->
            <!--            <div class="card">-->
            <!--                <div class="card-body">-->
                                
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</section>-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card no-border">
                        <div class="card-body border-lightgray">
                            <div class="row" id="orderRequests"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body" id="at-a-glance">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="theme-yellow"><%= new_orders.count %></span> new orders
                            <hr style="margin-top: 15px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 add-padding-top">
                            <span class="theme-color"><%= processed_orders.count %></span> processed orders
                            <hr style="margin-top: 15px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 add-padding-top">
                            <span class="theme-green">$<%= total_earnings %></span> in earnings
                            <hr style="margin-top: 15px;">
                        </div>
                    </div>
                    <div class="row add-padding-top">
                        <div class="col-md-6">
                            <span class="asap-badge badge badge-primary"> </span> ASAP
                        </div>
                        <div class="col-md-6">
                            <span class="later-badge badge badge-primary"> </span> Future
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var data = {
        "type": 'orders'
    };
    readDataFromFirestore(data);
</script>