<style>
    .card-body {
        height: 40px;
    }
</style>

<section id="briefAnalytics">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="liveOrders">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span class="font-18">New orders</span>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</section>