<section id="bannerImageUpload">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-center" id="storeBannerImage" style="height: 250px; background-image: url('<%= current_store.banner_image %>'); background-size: cover;">
                    <% if current_store.banner_image.empty? %>
                        <h6 id="storeBannerImageText" class="add-margin-top" style="vertical-align: middle;">
                            No image provided
                        </h6>
                    <% end %>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Upload a banner image (Ideal resolution: <b>800 x 300</b>)</h6>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input no-box-shadow cursor-pointer" id="banner_image" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01" id="fileUploadStatus">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text cursor-pointer" id="banner-image-upload-btn">Upload</span>
                        </div>
                    </div>
                    <div id="results"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('#banner_image').on('change', e => {
        $('#fileUploadStatus').html($('#banner_image').get(0).files[0].name);
    });
    
    $('#banner-image-upload-btn').on('click', saveImage);
    
    function saveImage() {
        $('#banner-image-upload-btn')
        .html(`
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw" 
            style="font-size: 18px;"></i> Uploading
        `);
        var imageUrl = $('#banner_image').get(0).files[0];
        var imageName = ('stores/<%= current_store.id %>/banner_image/' + imageUrl.name);
        var storageRef = firebase.storage().ref();
        storageRef.child(imageName).put(imageUrl).then((snapShot) => {
            storageRef.child(imageName).getDownloadURL().then((url) => {
                console.log(url);
                $.post('/store_banner_image', { data: {"url": url} })
                .done((done) => {
                    $('#storeBannerImageText').remove();
                    $('#storeBannerImage')
                    .css('background-image', "url('" + url + "')")
                    .css('background-size', 'cover');
                    $('#banner-image-upload-btn').html('Upload');
                    $('#results').html('<span class="theme-green">Image saved!</span>')
                });
            });
        }).catch((error) => {
            $('#banner-image-upload-btn').html('Upload');
            $('#results').html('<span class="theme-red">There was an error saving this image. Please try again.</span>')
        });
    }
    
</script>