<section id="hoursSettingsForm">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    Configure your store's hours
                </div>
                <div class="card-body">
                    <%= render 'hours_settings_form' %>
                </div>
            </div>
        </div>
    </div>
</section>