<section id="profileSettingsForm" style="margin-bottom: 40px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <!--<div class="card-header">-->
                <!--    Edit your store's profile-->
                <!--</div>-->
                <div class="card-body">
                    <%= render 'profile_settings_form' %>
                </div>
            </div>
        </div>
    </div>
</section>