<section id="inventory" style="padding-bottom: 40px;">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <form id="searchItemForm" style="margin: 0;" onsubmit="searchItems()">
                                <input class="form-control no-box-shadow height-40" id="itemSearchInput" onkeyup="searchItems()" placeholder="Search an item by name or ndc" style="margin: 0;">
                            </form>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success btn-block btn-flat height-40" id="searchItemSubmit">
                                Search <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-primary height-40 btn-block" href="/inventory/new">
                               <i class="fa fa-plus-circle"></i> New item 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body inventory-items-header">
                    <div class="row item-row">
                        <div class="no-left-padding col-md-2">
                            <p class="bold">Name</p>
                        </div>
                        <div class="no-left-padding col-md-5">
                            <p class="bold">Size(s) and Price(s)</p>
                        </div>
                        <div class="no-left-padding col-md-1">
                            <p class="bold">Strength</p>
                        </div>
                        <div class="no-left-padding col-md-1">
                            <p class="bold">Taxable</p>
                        </div>
                        <div class="no-left-padding col-md-2">
                            <p class="bold">Category</p>
                        </div>
                    </div>
                </div>
                <div class="card-body inventory-items"></div>
            </div>
        </div>
    </div>
</section>

<script>

    

    var data = {
        'type': 'items'
    };
    readDataFromFirestore(data);
    
    function searchItems() {
        var value = document.getElementById('itemSearchInput').value;
        console.log('search triggered', value);
        
        $('.item-span').hide();
        
        var input = value.toLowerCase();
        var itemList = document.getElementsByClassName('item-name');
        
        // var items = [];
        for (i = 0; i < itemList.length; i++) {
            var id = itemList[i].id;
            console.log(id);
            var name = $('#' + id).text().toLowerCase();
            
            if (input.includes(name) || name.includes(input)) {
                // items.push(itemList[i]);
                // var result = document.getElementById(id.split('-')[1]);
                $('#span-' + id.split('-')[1]).show();
            }
        }
        
    }

</script>