<% if current_customer %>
    <% if current_customer.has_stripe_account %>
        <form action="/reserve" method="post" data-remote="true">
            <input type="hidden" value="" id="request-date" name="reservation[request_date]">
            <input type="hidden" value="" id="adult-count" name="reservation[adult_count]">
            <input type="hidden" value="" id="children-count" name="reservation[children_count]">
            <input type="hidden" value="" id="meal-ids" name="reservation[meal_ids]">
            <input type="hidden" value="" id="customer-allergies" name="reservation[allergies]">
            <button class="btn btn-primary btn-block height-50 white" disabled
                    id="booking-btn" data-disable-with="Booking...">
                Book
            </button>
        </form>
    <% else %>
        <button class="btn btn-primary btn-block height-50 white add-margin-top"
            data-toggle="modal" data-target="#addPaymentModal">
            Add a payment method to book
        </button>
    <% end %>
<% else %>
    <button class="btn btn-primary btn-block height-50 white add-margin-top" data-toggle="modal" data-target="#customerAuthentication">
        Log in to book <%= @cook.first_name %>
    </button>
<% end %>