<form method="get" id="payment-form">
    <div class="form-row row">
        <div class="col-md-12">
            <div id="card-element" class="col-md-12"></div>
        </div>
        <div id="card-errors" role="alert" class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12 add-margin-top" align="right">
            <button class="btn btn-primary height-50 payment-form">
                Update Payment
            </button>
        </div>
    </div>
</form>