<p>
    Meals: <span class="theme-cyan"><%= reservation.meal_ids.split(',').length %></span>
</p>

<p style="margin-top: 20px;">
    Booked for: <span class="theme-cyan"><%= reservation.request_date %></span>
</p>

<p style="margin-top: 20px;">
    People: <span class="theme-cyan"><%= reservation.people_count %></span>
</p>

<p style="margin-top: 20px;">
    Allergies: <%= render partial: 'customers/allergies', locals: { allergies: reservation.allergens } %>
</p>