<section id="past-reservations">
    <div class="row">
        <div class="col-md-12">
            <h2>Past reservations</h2>
        </div>
        <%= render partial: 'bookings', locals: { bookings: @bookings } %>
    </div>
</section>