<div class="row">
    <div class="col-8 offset-md-2">
        <!--<div class="card" style="margin-bottom: 20px;">-->
        <!--    <div class="card-header background-cyan">-->
        <!--        ID (optional)-->
        <!--    </div>-->
        <!--    <div class="card-body">-->
        <!--        <div class="row">-->
        <!--            <div class="col-md-8">-->
        <!--                Please provide an official government issued identification-->
        <!--                in order to speed up the verification process.-->
        <!--            </div>-->
        <!--            <div class="col-md-4 text-center" id="official-id-field">-->
        <!--                <button class="btn btn-primary" onclick="setID(this)">-->
        <!--                    Provide ID-->
        <!--                </button>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->
        <div class="card">
            <div class="card-header background-cyan">
                Social Accounts
            </div>
            <div class="card-body">
                <%=  render "verification_form" %>
            </div>
        </div>
    </div>
</div>