<div class="display-flex mobile-block-display" style="flex-wrap: wrap;">
    <div class="col-lg-8 offset-lg-2 no-padding">
        <div class="dh-card">
            <h5>
                Account Details
            </h5>
            <hr>
            <%= render 'edit_profile_form' %>
        </div>
    </div>
   
    <div class="col-lg-8 offset-lg-2 no-padding" style="margin-top: 20px;">
        <div class="dh-card" id="payment-card">
            <h5>
                Add a payment method
            </h5>
            <%= render 'payment' %>
        </div>
        
        <div class="add-margin-top">
            Payment processing services on DinnerHost are provided
            by
            <a class="background-transparent" href="https://stripe.com" target="_blank">
                Stripe
            </a>
            and are subject to the 
            <a href="https://stripe.com/us/connect-account/legal" class="background-transparent" target="_blank">
                Stripe Connected Account Agreement
            </a>
            , which includes the
            <a href="https://stripe.com/legal" class="background-transparent" target="_blank">
                Stripe Terms of Service
            </a>
            (collectively, the “Stripe Services Agreement”).
            By agreeing to these terms or continuing to operate as a
            store on DinnerHost, you agree to be bound by the Stripe Services
            Agreement, as the same may be modified by Stripe from time to time.
            As a condition of DinnerHost enabling payment processing
            services through Stripe, you agree to provide DinnerHost accurate
            and complete information about you and your business, and
            you authorize DinnerHost to share it and transaction information
            related to your use of the payment processing services
            provided by Stripe. 
            <hr style="margin-top: 15px; margin-bottom: 15px;">
            By submitting this form, you agree to DinnerHost's
            <a class="background-transparent" href="https://app.termly.io/document/privacy-policy/613ee504-9fd4-475c-8339-ffc94ae03f72" target="_blank">terms of service</a>
            as well as Stripe's
            <a href="https://stripe.com/terms" class="background-transparent" target="_blank">terms of service</a>.
        </div>
    </div>
</div>

<script>
    
    var stripe = Stripe("<%= stripe_key %>");
    var elements = stripe.elements();
    
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '18px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };
    
    var card = elements.create('card', {style: style});
    card.mount('#card-element');
    
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });
    
    $('.StripeElement').css('border', '1px solid #b4b4b4 !important');
    
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        
        $('.payment-form')
        .prop('disabled', 'true')
        .html('Updating...');
        stripe.createToken(card).then(function(result) {
            if (result.error) {
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
                var customer = {
                    stripe_token: result.token
                };
                $.get('/submit_token', { customer: customer });
            }
        });
    });
    
</script>
