<div class="row" style="margin: 0;">
    <div class="col-lg-8 offset-lg-2 no-padding">
        <div class="dh-card">
            <h5>
                Social Accounts
            </h5>
            <hr>
            <%=  render "verification_form" %>
        </div>
    </div>
</div>