<section id="featured-meals">
    <div class="row" style="margin: 0;">
        <div class="col-lg-12">
            <h3 class="bold">Featured listings</h3>
        </div>
    </div>
    
    <div class="row" style="margin: 0;">
        <%= render partial: "meals/meals", locals: { meals: @meals.first(9) } %>
    </div>
    
    <% if @meals.first(9).count > 9 %>
        <div class="row" style="margin: 20px 0;">
            <div class="col-md-4 offset-md-4" align="center">
                <a class="background-transparent no-underline white" href="/featured-listings">
                    <button class="btn btn-primary height-50 box-shadow btn-block">
                        More featured listings
                    </button>
                </a>
            </div>
        </div>
    <% end %>
    
    <hr>
    
    <div class="row" style="margin: 30px 0 0 0;">
        <div class="col-lg-12">
            <h3 class="bold">Featured chefs</h3>
        </div>
    </div>
    <div class="row" style="height: 100% !important; margin: 10px 0 0 0;">
        <%= render partial: "chefs/chefs", locals: { chefs: @chefs.first(9) } %>
    </div>
</section>