fadeModal('customerAuthentication');

$('.main-navbar').html(`
    <div class="container" style="height: 100% !important;">
        <a class="navbar-brand cursor-pointer" href="/">Book-a-chef</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" style="height: 100%;">
            <ul class="navbar-nav" style="height: 100%;">
                <li class="nav-item">
                    <span class="nav-link-child">
                        <%= render 'common/search_form' %>
                    </span>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="height: 100%;">
            <ul class="navbar-nav" style="height: 100%;">
                <li class="nav-item nav-item-nav">
                    <a class="nav-link-child background-transparent no-underline" href="/bookings">
                        <button class="btn btn-link nav-link" style="height: 100%;">
                            Bookings
                        </button>
                    </a>
                </li>
                <li class="nav-item nav-item-nav">
                    <a class="nav-link-child background-transparent no-underline" href="/inbox">
                        <button class="btn btn-link nav-link" style="height: 100%;">
                            Messages <i class="<%= inbox_status %>" style="font-size: 8px; vertical-align: super !important;"></i>
                        </button>
                    </a>
                </li>
                <li class="nav-item nav-item-nav" style="height: 100%;">
                    <div class="dropdown" style="height: 100%;">
                        <div id="customer-avi" align="center" class="cursor-pointer"
                            style="height: 35px; width: 35px; margin: auto;
                                    overflow: hidden; border-radius: 17.5px;
                                    border: 0.5px solid #e7e7e9; margin-top: 20px;"
                            id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="<%= current_customer.image %>" alt="cook"
                                style="height: auto; width: inherit;">
                        </div>
                        <div class="dropdown-menu box-shadow no-border-radius dropdown-menu-right"
                            aria-labelledby="dropdownMenuButton"
                            style="border-color: #eee; padding: 0; margin-top: -19px;">
                            <a class="background-transparent dropdown-item cursor-pointer"
                                href="/edit/profile">
                                Profile settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="background-transparent dropdown-item cursor-pointer"
                                href="/edit/hours">
                                Hours & Delivery
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="background-transparent dropdown-item cursor-pointer"
                                href="/edit/banner">
                                Banner Image
                            </a>
                            <div class="dropdown-divider"></div>
                            <%= link_to destroy_customer_session_path, class:"background-transparent dropdown-item", method: :delete do %>
                                Sign out
                            <% end %>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
`);

$('#booking-btn-div').html(`
    <form action="/reserve" method="post" data-remote="true">
        <input type="hidden" value="" id="start-date" name="reservation[start_date]">
        <input type="hidden" value="" id="end-date" name="reservation[end_date]">
        <input type="hidden" value="" id="adult-count" name="reservation[adult_count]">
        <input type="hidden" value="" id="children-count" name="reservation[children_count]">
        <input type="hidden" value="" id="reservation-id" name="reservation[meal_id]">
        <button class="btn btn-primary btn-block height-50 white" id="booking-btn" data-disable-with="Booking...">
            Book
        </button>
    </form>
`);