<section id="reservation-meals">
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: #000;">Meals requested</h2>
        </div>
    </div>
    <div class="row">
        <% @meals.each do |m| %>
            <div class="col-md-4 add-margin-bottom">
                <a class="background-transparent" href="/meals/<%= m.id %>">
                    <div class="card cursor-pointer meal-card">
                        <div class="card-body"
                            style="background-image: url('<%= m.image %>'); background-size: cover;
                                background-position: center; height: 130px; border-top-left-radius: 5px;
                                border-top-right-radius: 5px;">
                            <span class="badge badge-primary"><%= m.meal_type %></span>
                        </div>
                        <div class="card-footer background-transparent" style="padding: 10px 10px;">
                            <span class="bold font-13 float-left theme-blue">
                                <%= m.name %>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        <% end %>
    </div>
</section>

<script type="text/javascript">
    $mealCard = $('.meal-card');
    $mealCard.hover(shadowCard);
    
    function shadowCard() {
        $(this).toggleClass('box-shadow-amp');
    };
</script>