<section id="reservation-accepted">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h4 style="color: #000;">What you need to know</h4>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>