console.error('error processing this order!');
$('#order-in-process').html(`
    An error occurred while processing this order. Please <a class="background-transparent theme-color underline cursor-pointer" onclick="window.location.reload()">try</a> again!
`);