console.warn('You are not authorized to perform this action!');
$('#order-in-process').html(`
    You are not authorized to perform this action. Please <a class="background-transparent theme-color underline cursor-pointer" onclick="window.location.reload()">try</a> again!
`);