<div>
    <div class="col-lg-10 offset-lg-1 no-padding">
        <div class="dh-card">
            <%= render 'form' %>
        </div>
    </div>
</div>

<div style="margin-top: 15px;">
    <div class="col-lg-10 offset-lg-1 no-padding">
        <div class="dh-card">
            <h5>Ingredients</h5>
            <hr>
            <%= render partial: 'ingredients', locals: { ingredients: @meal.ingredients, meal: @meal } %>
            
            <a href="/listing/<%= @meal.id %>/ingredients"
                class="btn btn-primary mobile-block-display" style="margin-top: 10px;">
                Edit Ingredients
            </a>
        </div>
    </div>
</div>

<div style="margin-top: 20px;">
    <div class="col-lg-10 offset-lg-1 no-padding">
        <div class="dh-card">
            <h5 class="bold">Irreversible Action</h5>
            <hr>
            
            <%= link_to meal_path(@meal), class: "btn btn-danger white mobile-block-display",
                title: "Delete this listing (irreversible action)",
                style:"text-transform: uppercase;", data: {"disable-with": "Deleting..."},
                method: :delete do %>
                Delete This Listing
            <% end %>
            
            <p class="add-margin-top">This action is irreversible!</p>
        </div>
    </div>
</div>