<section id="tag-search-results">
    <h4 class="bold">Category: <%= params[:category] %></h4>
    
    <div class="row" style="margin-top: 20px;">
        <%= render partial: "meals", locals: { meals: @meals } %>
    </div>
</section>