<style>
    #main-body {
        padding-top: 0 !important;
    }
</style>
<section style="width: 100%; height: 100%;" align="center" id="meal-show">
    <span style="margin: auto; top: 25%; vertical-align: middle !important;">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-cyan"
            style="font-size: 50px;">
        </i>
    </span>
</section>

<div class="container">
    <div class="row" id="recommended-dishes">
        <% if recommended_dishes(@meal).present? %>
            <%= render partial: "meals/meals", locals: { meals: recommended_dishes(@meal) } %>
        <% else %>
            <div class="col-md-12">
                <p>No similar listings found at this time.</p>
            </div>
        <% end %>
    </div>
</div>

<script type="text/javascript">
    var body = document.querySelector('#main-body');
    body.classList.remove('container');
    body.style.paddingLeft = "0 !important";
    body.style.paddingRight = "0 !important";
    
    $('#meal-show')
    .html(`<%= render "show" %>`)
    .attr('align', 'left');
</script>