/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require toastr
 *= require bootstrap-wysihtml5
 *= require social-share-button
 */
.navbar {
    border-bottom: 1px solid #eee;
    background: #fff !important;
    padding: 16px;
}

.navbar-brand {
    padding: 0;
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
}

li.nav-item {
    font-size: 14px;
}

.navbar-search-icon {
    font-size: 16px !important;
}

.navbar.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}