/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require toastr
 */
.navbar.store-navbar {
    border-bottom: 1px solid #eee;
}

#body {
    padding: 60px 0;
    margin: 20px 0;
}

input {
    box-shadow: none !important;
}

.card, input {
    border-color: #cfd0d4 !important;
}

#liveOrders {
    margin-top: 20px;
}

button, input, .btn {
    font-size: 16px !important;
}

button, .btn {
    color: #fff !important;
}

.nav-link.btn-link {
    color: #4095e3 !important;
    padding: auto;
}

.nav-link{
    color: #4095e3 !important;
}

.nav-item {
    margin: 0 0 0 20px;
}

.display-block {
    display: block;
    margin: 10px 0;
}

input.btn {
    box-shadow: 0 15px 35px rgba(70,50,50,.1), 0 5px 15px rgba(0,0,0,.08) !important;
}

.card-header {
    font-size: 18px;
}

.field-label {
    font-size: 16px;
}

.dropdown-item {
    font-size: 16px;
    color: #4095e3 !important;
}