/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require toastr
 *= require bootstrap-wysihtml5
 *= require social-share-button
 */
.navbar {
    border-bottom: 1px solid #eee;
    background: #fff !important;
    padding: 16px;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggler {
    padding: .75rem;
}

.platform-color {
    color: #525f7f !important;
}

.cart-toggler {
    padding: .25rem;
}

.badge {
    border-radius: 2px !important;
}

.dropdown, .cart-toggler {
    display: inline !important;
}

.height-50 {
    height: 50px !important;
}

.height-100 {
    height: 100px !important;
}

.height-55 {
    height: 55px !important;
}

#store-search, #newsletter-signup {
    height: 65px !important;
    font-size: 17px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0;
    border-color: #fff;
    border-left: none;
}

#newsletter-signup {
    border-bottom-left-radius: 0 !important;
}

.font-17 {
    font-size: 17px;
}

.font-15 {
    font-size: 15px !important;
}

.font-13 {
    font-size: 13px !important;
}

#banner-text {
    font-size: 55px;
    font-weight: 900;
}

#banner-subtext {
    font-size: 25px;
    font-weight: 900;
}

.search-input-icon, .find-current-location-icon {
    font-size: 60px;
    color: #F27649;
}

.pac-container {
    padding: 0 0.75rem 1rem 0.75rem !important;
    width: 730px;
    margin-left: -36.78px;
    box-shadow: none !important;
    border: 0.5px solid #e7e7e9 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.pac-item {
    border-top: none;
    border-bottom: 0.5px solid #e7e7e9;
    padding: 10px 0;
    cursor: pointer !important;
}

.pac-icon {
    color: #F27649 !important;
}

.prepend-group {
    height: 65px;
    border-color: #fff;
    background-color: #fff !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none !important;
}

.prepend-group:hover {
    height: 65px;
    border-color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none !important;
}

.theme-border {
    border-color: #F27649 !important;
}

div.how-to > i {
    font-size: 75px;
    color: #F27649;
}

#body {
    padding: 100px 0 0 0;
    margin: 5px 0 0 0;
    font-family: 'Montserrat', sans-serif !important;
    z-index: 1;
}

#accountDetails {
    border: 0.5px solid #e7e7e9;
    border-radius: 2px;
    padding: 15px;
}

#suggestionBoxContainer {
    height: 200px;
}

/*#suggestionBox {*/
/*    max-height: 100%;*/
/*    background-color: #fff;*/
/*    border-radius: 2px;*/
    /*display: none;*/
/*    z-index: 1000 !important;*/
/*}*/

.later-badge {
    height: 10px;
    width: 10px;
    padding: 0;
    border-radius: 5px;
    font-size: 15px !important;
}

.asap-badge {
    height: 10px;
    width: 10px;
    padding: 0;
    border-radius: 5px;
    background-color: #ff3232 !important;
    font-size: 15px !important;
}

.badge-arrow-circle {
    padding: 0 !important;
    font-size: 45px;
    height: 45px;
    width: 45px;
    border-radius: 22.5px !important;
}

.badge-circle-medium {
    height: 30px;
    width: 30px;
    border-radius: 15px !important;
}

.arrow-up {
    height: 40px;
    width: 40px;
    color: #fff !important;
    margin: -180px 0 0 30px !important;
    background-color: #fff;
    transform: rotate(45deg);
}

#loadingAccountDetails {
    padding-top: 50px;
    padding-bottom: 50px;
}

p {
    font-family: 'Montserrat', sans-serif !important;
}

input {
    box-shadow: none !important;
}

.card, input, textarea {
    border-color: #e7e7e9 !important;
}

#liveOrders {
    /*margin-top: 20px;*/
    /* Above will be commented out for now */
}

button, input, .btn {
    font-size: 15px !important;
}

.instagram-share {
    background-color: #cd486b !important;
    color: #fff !important;
}

.facebook-share {
    background-color: #3B5998 !important;
    color: #fff !important;
}

.twitter-share {
    background-color: #55acee !important;
    color: #fff !important;
}

.social-share-inline {
    /*display: inline !important;*/
}

.social-share-left {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.social-share-right {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.social-share-middle {
    border-radius: 0 !important;
}

#confirmation-content {
    padding-bottom: 20px;
}

.social-share {
    padding: 25px 50px;
    border: none;
}

.button {
    height: 40px;
}

hr, p {
    margin: 0;
}

button, .btn {
    color: #fff;
    border-radius: 2px;
}

.theme-color {
    color: #F27649 !important;
}

.theme-background {
    background-color: #F27649 !important;
}

.theme-border-bottom {
    border-bottom: 1px solid #F27649 !important;
}

button {
    background-color: #F27649 !important;
    border-color: #f27649 !important;
    color: #fff;
}

button:hover {
    background-color: #d96a41 !important;
    border-color: #d96a41 !important;
}

.btn-link.nav-link {
    color: #4c4c4c !important;
    padding-left: 0;
    padding-right: 0;
}

.btn-nav.nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-link {
    color: #4c4c4c;
}

.nav-item {
    margin: 0 0 0 30px;
}

.main-nav-item {
    margin: 0 0 0 15px !important;
}

.display-block {
    display: block;
    margin: 10px 0;
}

input.btn {
    background-color: #F27649 !important;
    border-color: #f27649 !important;
    color: #fff;
}

input.btn:hover {
    background-color: #d96a41 !important;
    border-color: #d96a41 !important;
}

.card-header {
    font-size: 16px;
    background-color: transparent;
    color: #F27649;
}

.new-order-card-header {
    background-color: #f4916d !important;
}

.no-display {
    display: none;
}

.modal-content {
    border-color: #F27649 !important;
}

.order-card > .card-header {
    color: #fff;
}

canvas {
    height: 200px;
    width: 200px;
}

.modal-header {
    border: none;
    border-radius: 0;
    font-size: 16px;
    background-color: #F27649;
    color: #fff;
}

.btn-flat {
    box-shadow: none !important;
    background-color: transparent !important;
    border-color: #F27649 !important;
    color: #F27649;
}

.btn-white, .btn-white:hover {
    box-shadow: none !important;
    background-color: #fff !important;
    border-color: #fff !important;
    color: #f27649;
}

.btn-flat:hover {
    background-color: #F27649 !important;
    color: #fff;
}

.no-padding {
    padding: 0 !important;
    color: #fff !important;
}

.bold {
    font-weight: 700 !important;
}

.field-label {
    font-size: 15px;
}

.dropdown-item {
    font-size: 15px;
    color: #4c4c4c !important;
}

#availableDays, #hoursAvailable {
    display: none;
    max-height: 250px;
    overflow-y: auto;
}

.example-day {
    /*border-top: 0.5px solid #e7e7e9;*/
    border-bottom: 0.5px solid #e7e7e9;
    padding: 10px 15px !important;
}

.add-border-top {
    border-top: 0.5px solid #e7e7e9;
}

.add-border-bottom {
    border-bottom: 0.5px solid #e7e7e9;
}

.payment {
    padding: 10px 30px;
}

.light {
    color: #a8afbf !important;
}

.dark {
    color: #292f3f !important;
}

.regular {
    color: #525f7f !important;
}

.StripeElement {
    border: 1px solid #e7e7e9 !important;
    padding: 17.5px 15px !important;
    border-radius: 2px;
}

#socialTags {
    text-align: right;
}

@media only screen and (max-device-width: 767.99px) {
    .social-share-right {
        border-bottom-left-radius: 2px !important;
    }
    
    #socialTags {
        text-align: center !important;
        margin-top: 15px;
    }
    
    .try-senzzu {
        padding-top: 10px !important;
    }
    
    .schedule-demo {
        padding-bottom: 0 !important;
    }
    
    .article-author-card {
        text-align: center !important;
    }
}
