body {
    overflow-x: hidden !important;
    background: #fff;
    color: #484848;
    line-height: 1.43;
    padding: 80px 0 0 0;
    margin: 5px 0 0 0;
    font-family: 'Roboto', sans-serif !important;
    z-index: 1;
}

p {
    font-size: 15px;
}

#page-loader {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
}

.spinner-row {
    padding-top: 20px;
}

a:hover {
    color: inherit;
}

.border-white {
    border-color: #fff !important;
}
.radius-5 {
    border-radius: 5px !important;
}
.height-40 {
    height: 40px !important;
}
.height-50 {
    height: 45px !important;
}
.background-blue {
    background-color: #007bff !important;
}
.background-yellow {
    background-color: #878706 !important;
}
.background-purple {
    background-color: #7264a5 !important;
}
.theme-purple {
    color: #7264a5 !important;
}
.background-cyan {
    background-color: #1cc7c7 !important;
}

.border-cyan {
    border: 1px solid #1cc7c7 !important;
}

.theme-cyan {
    color: #1cc7c7 !important;
}

.background-green {
    background-color: #56c681 !important;
}

.background-gray {
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.background-dark {
    background-color: #454d5e !important;
}

.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    .pharmacy-login {
        color: #4095e3 !important;
    }
    // border-bottom: 1px solid #b4b4b4;
    box-shadow: 0 6px 12px 0 rgba(50,50,70,.08), 0 3px 5px 0 rgba(0,0,0,.05) !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.font-14 {
    font-size: 14px;
}
.font-18 {
    font-size: 18px !important;
}

.font-12 {
    font-size: 12px;
}

.font-82 {
    font-size: 82px;
}

.padding-14 {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.card {
    border: 0.5px solid #e7e7e9 !important;
}

.form-control {
    border-radius: 5px;
    height: 50px;
}

input.btn, .btn, .card, .modal-content, .alert {
    border-radius: 5px;
}

input.btn {
    border: none;
    padding-left: 45px;
    padding-right: 45px;
}

.modal-content {
    top: 40px !important;
    border: none;
}

.border-radius {
    border-radius: 2px !important;
}

.no-display, .hidden {
    display: none !important;
}

.no-horizontal-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.theme-blue {
    color: #0c1d2d !important;
}

.theme-gray {
    color: #e5e5e5;
}

.theme-red {
    color: #ff3232 !important;
}

.location-green {
    color: #5f9616 !important;
}

.request-sent, .request-failed {
    display: none;
}

.background-transparent {
    background: transparent !important;
}

.background-white {
    background: #fff !important;
}

.background-red {
    background-color: #dc3545 !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-border-right {
    border-right: none;
}

.no-border-left {
    border-left: none;
}

#authAlert, #authAlert0, #onboardingError {
    display: none;
}

.box-shadow {
    // box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    box-shadow: 0 6px 12px 0 rgba(50,50,70,.08), 0 3px 5px 0 rgba(0,0,0,.05);
    // box-shadow: 0 15px 35px rgba(70,50,50,.1), 0 5px 15px rgba(0,0,0,.08);
}
.box-shadow-amp {
    box-shadow: 0 15px 35px rgba(70,50,50,.1), 0 5px 15px rgba(0,0,0,.08);
}

.badge {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    font-weight: 500 !important;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.border-theme-blue {
    border: 1px solid #03032b;
}

.border-blue {
    border-color: #007bff !important;
}

.border-lightgray {
    border: 0.5px solid #e7e7e9 !important;
}
.font-50 {
    font-size: 50px !important;
}

.border-green {
    border-color: #05f005 !important;
}


.no-border {
    border: none !important;
}
.no-border-bottom {
    border-bottom: none !important;
}
.add-padding-top {
    padding-top: 15px;
}
.add-margin-top {
    margin-top: 10px;
}
.add-margin-bottom {
    margin-bottom: 10px;
}

.display-block {
    display: block !important;
}

.add-padding-bottom {
    padding-bottom: 15px;
}

.add-padding-top-10 {
    padding-top: 10px;
}

.add-padding-top-5 {
    padding-top: 5px;
}

.add-padding-left {
    padding-left: 5px;
}

.add-padding-left-20 {
    padding-left: 20px;
}

.add-padding-left-60 {
    padding-left: 60px;
}


.theme-green {
    color: #05f005 !important;
}
.theme-darkblue {
    color: #265988;
}
.green {
    color: #05f005 !important;
}

.badge-circle {
    height: 10px;
    width: 10px;
    border-radius: 5px;
}
.badge-circle-medium {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.theme-yellow {
    color: #fdfd66 !important;
}

.no-underline {
    text-decoration: none !important;
}

.underline {
    text-decoration: underline !important;
}

.fixed {
    position: fixed !important;
}
.white {
    color: #fff !important;
}

.black {
    color: #000 !important;
}

.toggler-icon {
    color: #fff !important;
    font-size: 25px !important;
    padding: 0 !important;
}

.font-weight-600 {
    font-weight: 600px !important;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.bold {
    font-weight: 900;
}

.cta-signup, .cta-login{
    font-size: 16px;
    // padding: 0 !important;
    margin-right: 10px;
    border: none !important;
    color: #fff;
}
.shopping-cart, .shopping-cart:hover {
    font-size: 16px;
    margin: 0 !important;
    color: #fff !important;
    border: 1px solid #17a2b8 !important;
    padding: 8px 20px !important;
    background-color: #17a2b8 !important;
}

.blog-link, .blog-link:hover{
    margin-right: 10px;
    font-size: 16px;
    // padding: 0 !important;
    border: none !important;
    color: #fff !important;
}

.settings-header {
    padding-left: 15px;
}
.transaction-buttons {
    font-size: 12px;
    padding: 5px;
}
#dismissAll {
    padding-top: 2px;
    padding-left: 10px;
}
.medium-size-btn {
    font-size: 11px;
    padding: 4px;
}

.hide {
    display: none;
}
.show {
    display: block !important;
}


.submit {
    padding-top: 20px;
}

#scrollable {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
}
#scrollableChild {
    position: relative;
    max-height: 100%;
    overflow: auto;
}

.no-box-shadow {
    box-shadow: none !important;
}
.opaque {
    opacity: 0.5;
}


$size: 40px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    border-radius: 20px;
  }
}

.footer-link {
    color: #b4b4b4 !important;
    font-size: 16px !important;
}
.footer-item {
    margin-bottom: 20px;
}
.footer-link:hover {
    color: #fff !important
}
.footer-color {
    color: #9bc6e4;
}

#card-element {
    padding-left: 25px;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#mobile-toggle {
    display: none;
}

.navbar {
    border-bottom: 1px solid #eee;
    background: #fff !important;
    padding: 16px;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggler {
    padding: .75rem;
}

.platform-color {
    color: #525f7f !important;
}

.cart-toggler {
    padding: .25rem;
}

.badge {
    border-radius: 2px !important;
}

.height-50 {
    height: 50px !important;
}

.height-100 {
    height: 100px !important;
}

.height-50 {
    height: 50px !important;
}

#store-search, #newsletter-signup {
    height: 65px !important;
    font-size: 17px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: #fff;
    border-left: none;
}

.set-search-type {
    padding-left: 15px;
    padding-right: 15px;
}

#submitStoreSearch {
    display: none;
}

#newsletter-signup {
    border-bottom-left-radius: 0 !important;
}

.font-17 {
    font-size: 17px;
}

.font-15 {
    font-size: 15px !important;
}

.font-13 {
    font-size: 13px !important;
}

#banner-text {
    font-size: 55px;
    font-weight: 900;
}

#banner-subtext {
    font-size: 25px;
    font-weight: 900;
}

.search-input-icon, .find-current-location-icon {
    font-size: 60px;
    color: #F27649;
}

.pac-container {
    padding: 0 0.75rem 1rem 0.75rem !important;
    width: 730px;
    margin-left: -36.78px;
    box-shadow: none !important;
    border: 0.5px solid #e7e7e9 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.pac-item {
    border-top: none;
    border-bottom: 0.5px solid #e7e7e9;
    padding: 10px 0;
    cursor: pointer !important;
}

.pac-icon {
    color: #F27649 !important;
}

.prepend-group {
    height: 65px;
    border-color: #fff;
    background-color: #fff !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none !important;
}

.prepend-group:hover {
    height: 65px;
    border-color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none !important;
}

.theme-border {
    border-color: #F27649 !important;
}

div.how-to > i {
    font-size: 75px;
    color: #F27649;
}

#accountDetails {
    border: 0.5px solid #e7e7e9;
    border-radius: 2px;
    padding: 15px;
}

#suggestionBoxContainer {
    height: 200px;
}


.later-badge {
    height: 10px;
    width: 10px;
    padding: 0;
    border-radius: 5px;
    font-size: 15px !important;
}

.asap-badge {
    height: 10px;
    width: 10px;
    padding: 0;
    border-radius: 5px;
    background-color: #ff3232 !important;
    font-size: 15px !important;
}

.badge-arrow-circle {
    padding: 0 !important;
    font-size: 45px;
    height: 45px;
    width: 45px;
    border-radius: 22.5px !important;
}

.badge-circle-medium {
    height: 30px;
    width: 30px;
    border-radius: 15px !important;
}

.arrow-up {
    height: 40px;
    width: 40px;
    color: #fff !important;
    margin: -180px 0 0 30px !important;
    background-color: #fff;
    transform: rotate(45deg);
}

#loadingAccountDetails {
    padding-top: 50px;
    padding-bottom: 50px;
}

input {
    box-shadow: none;
}

.card, input, textarea, .modal-content {
    border-color: #e7e7e9 !important;
}

.modal-body {
    padding-top: 0;
}

button, input, .btn {
    font-size: 15px;
}

.instagram-share {
    background-color: #cd486b !important;
    color: #fff !important;
}

.facebook-share {
    background-color: #3B5998 !important;
    color: #fff !important;
}

.twitter-share {
    background-color: #55acee !important;
    color: #fff !important;
}

.social-share-left {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.social-share-right {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.social-share-middle {
    border-radius: 0 !important;
}

#confirmation-content {
    padding-bottom: 20px;
}

.social-share {
    padding: 25px 50px;
    border: none;
}

button, .btn {
    color: #fff;
    border-radius: 5px;
}

.theme-color {
    color: #F27649 !important;
}

.theme-background {
    background-color: #F27649 !important;
}

.theme-border-bottom {
    border-bottom: 1px solid #F27649 !important;
}

.btn-link.nav-link {
    color: #4c4c4c !important;
    padding-left: 0;
    padding-right: 0;
}

.btn-nav.nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-link {
    color: #4c4c4c;
}

.nav-item {
    margin: 0 0 0 30px;
}

.main-nav-item {
    margin: 0 0 0 15px !important;
}

.display-block {
    display: block;
    margin: 10px 0;
}

.card-header {
    font-size: 18px;
    color: #fff;
}

.new-order-card-header {
    background-color: #f4916d !important;
}

.no-display {
    display: none;
}

.order-card > .card-header {
    color: #fff;
}

canvas {
    height: 200px;
    width: 200px;
}

.modal-header {
    border: none;
    font-size: 16px;
}

.btn-flat {
    box-shadow: none !important;
    background-color: transparent !important;
    border-color: #F27649 !important;
    color: #F27649;
}

.btn-white, .btn-white:hover {
    box-shadow: none !important;
    background-color: #fff !important;
    border-color: #fff !important;
    color: #f27649;
}

.btn-flat:hover {
    background-color: #F27649 !important;
    color: #fff;
}

.no-padding {
    padding: 0 !important;
    color: #fff !important;
}

.bold {
    font-weight: 700 !important;
}

.field-label {
    font-size: 15px;
}

.dropdown-item:hover {
    background-color: #eee !important;
}

#availableDays, #hoursAvailable {
    display: none;
    max-height: 250px;
    overflow-y: auto;
}

.example-day {
    /*border-top: 0.5px solid #e7e7e9;*/
    border-bottom: 0.5px solid #e7e7e9;
    padding: 10px 15px !important;
}

.add-border-top {
    border-top: 0.5px solid #e7e7e9;
}

.add-border-bottom {
    border-bottom: 0.5px solid #e7e7e9;
}

.payment {
    padding: 10px 30px;
}

.light {
    color: #a8afbf !important;
}

.dark {
    color: #292f3f !important;
}

.regular {
    color: #525f7f !important;
}

.StripeElement {
    border: 1px solid #e7e7e9 !important;
    padding: 15px 15px !important;
    border-radius: 2px;
}

#socialTags {
    text-align: right;
}

.full-width {
    width: 100%;
}

@media only screen and (min-device-width: 1366px) {
    
    .pac-container {
        width: 730px !important;
        margin-left: -36.78px !important;
    }
}

/* Mobile Rules */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1365.98px) {
    
    .pac-container {
        width: 610px !important;
        margin-left: -36.78px !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .icon-image {
        margin-left: -65px;
    }
    
    #search {
        margin-top: -380px !important;
        margin-bottom: 0 !important;
    }
    
    .social-share-inline-middle {
        padding: 0 !important;
    }
    
    .pac-container {
        width: 451px !important;
        margin-left: -36.78px !important;
    }
}

@media only screen and (max-device-width: 767.98px) {
    #main-body {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    
    #mobile-toggle {
        display: block !important;
    }
    
    .social-share-inline {
        padding: 0 15px !important;
    }
    
    #banner-text {
        font-size: 35px !important;
        font-weight: 900;
    }
    
    .nbrm {
        border-right: none !important;
    }
    
    #banner-subtext {
        display: none;
    }
    
    #search {
        margin-top: -400px !important;
        margin-bottom: 35px !important;
    }
    
    #storeItemsSearch {
        margin-top: -45px;
    }
    
    #storeShowHeader {
        height: 350px !important;
    }
    
    .store-banner {
        margin-top: -350px !important;
        margin-bottom: 95px !important;
    }
    
    #store-banner-div {
        height: 390px !important;
    }
    
    .pac-container {
        width: 331px !important;
        margin-left: -36.78px !important;
    }
    
    .social-share-right {
        border-bottom-left-radius: 2px !important;
    }
    
    #socialTags {
        text-align: center !important;
        margin-top: 15px;
    }
    
    .try-senzzu {
        padding-top: 10px !important;
    }
    
    .schedule-demo {
        padding-bottom: 0 !important;
    }
    
    .article-author-card {
        text-align: center !important;
    }
    
    #submitStoreSearch {
        display: block !important;
        height: 65px !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    
    #store-search {
        font-size: 15px !important;
    }
    
    .prepend-group {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    
    .set-search-type {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    
    .filters-box {
        left: 0 !important;
        top: -40px !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }
}