<nav class="navbar navbar-expand-lg fixed-top store-navbar">
    <!--<div class="container" style="height: 100% !important;">-->
        <a class="navbar-brand cursor-pointer" href="/"><img src="/images/logo-transparent.png" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" style="height: 100%;">
            <ul class="navbar-nav" style="height: 100%;">
                <li class="nav-item">
                    <span class="nav-link-child">
                        <%= render 'common/search_form' %>
                    </span>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="height: 100%;">
            <ul class="navbar-nav" style="height: 100%;">
                <li class="nav-item nav-item-nav">
                    <a class="nav-link-child background-transparent no-underline" href="/new-dish">
                        <button class="btn btn-link nav-link" style="height: 100%;">
                            Add a dish
                        </button>
                    </a>
                </li>
                <li class="nav-item nav-item-nav">
                    <a class="nav-link-child background-transparent no-underline" href="/chef/edit/payout">
                        <button class="btn btn-link nav-link" style="height: 100%;">
                            Reservations
                        </button>
                    </a>
                </li>
                <li class="nav-item nav-item-nav">
                    <a class="nav-link-child background-transparent no-underline" href="/inbox">
                        <button class="btn btn-link nav-link" style="height: 100%;">
                            Messages <i class="<%= inbox_status %>" style="font-size: 8px; vertical-align: super !important;"></i>
                        </button>
                    </a>
                </li>
                <li class="nav-item nav-item-nav" style="height: 100%;">
                    <div class="dropdown" style="height: 100%;">
                        <div id="cook-avi" align="center" class="cursor-pointer"
                            style="height: 35px; width: 35px; margin: auto;
                                    overflow: hidden; border-radius: 17.5px;
                                    border: 0.5px solid #e7e7e9; margin-top: 20px;"
                            id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="<%= current_chef.image.url %>" alt="cook"
                                style="height: auto; width: inherit;">
                        </div>
                        <div class="dropdown-menu box-shadow no-border-radius dropdown-menu-right"
                            aria-labelledby="dropdownMenuButton"
                            style="border-color: #eee; padding: 0; margin-top: -18.5px;
                                width: 250px;">
                            <a class="background-transparent dropdown-item cursor-pointer"
                                href="/chef/edit/profile">
                                Account Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="background-transparent dropdown-item cursor-pointer"
                                href="/chef/password-settings">
                                Password Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="background-transparent dropdown-item cursor-pointer"
                                href="/chef/edit/social">
                                Social Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="background-transparent dropdown-item cursor-pointer"
                                href="/chef/edit/payout">
                                Payout Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="background-transparent dropdown-item cursor-pointer"
                                href="/chef/edit/listings">
                                Meals
                            </a>
                            <div class="dropdown-divider"></div>
                            <%= link_to destroy_chef_session_path, class:"background-transparent dropdown-item", method: :delete do %>
                                Log Out
                            <% end %>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    <!--</div>-->
</nav>

<script type="text/javascript">
    $('#request-location').click(function() {
        $('#request-location')
        .css({'width': '430px'})
        .toggleClass('no-bottom-radii');
        $('.input-group-text')
        .toggleClass('no-bottom-radii');
        $('#search-box').fadeIn();
    });
    
    $('#request-location').focusout(function() {
        $('#request-location')
        .toggleClass('no-bottom-radii');
        
        $('.input-group-text')
        .toggleClass('no-bottom-radii');
    });
</script>