<style>
    p.text-muted {
        margin-bottom: 10px !important;
    }
</style>

<footer id="non-authenticated-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="font-15 text-muted"
                    style="height: 100%; vertical-align: middle !important;
                            margin-left: 5px;">
                    &copy; 2019 DinnerHost
                </span> |
                <span class="text-muted">
                    <a href="/terms">Terms</a>
                </span> |
                <span class="text-muted">
                    <a href="/privacy">Privacy</a>
                </span> |
                <span class="text-muted">
                    <a href="/contact-us">Contact Us</a>
                </span>
            </div>
        </div>
    </div>
</footer>