<style>
    #main-search, #newsletterForm {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: none;
    }
    .append-group {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
    #main-search, .append-group, #newsletterForm {
        height: 50px;
    }
</style>
<footer class="footer">
    <!--<div class="container" style="padding-bottom: 100px;">-->
    <!--    <div class="row">-->
            <!--<div class="col-md-1 footer-columns2 add-padding-bottom">-->
    <!--            <div class="col-md-4">-->
    <!--                <h6 class="white footer-column-header" style="margin-bottom: 20px; text-transform: uppercase;">Goodies, from us, sent to your inbox</h6>-->
    <!--                <form action="/pharmacy_search" method="get" id="pharmacySearchForm">-->
    <!--                    <div class="input-group mb-3">-->
    <!--                        <input class="form-control font-16 no-box-shadow border-white" style="margin-top: 0 !important;" id="newsletterForm" name="newsletter_form" placeholder="Enter your email">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text background-transparent append-group border-white" id="basic-addon1">-->
    <!--                                <i class="fa fa-envelope-o white"></i>-->
    <!--                            </span>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--                <img src="/images/visa.png" height="39">-->
    <!--                <img src="/images/amazon.png" height="39">-->
    <!--                <img src="/images/amex.png" height="39">-->
    <!--                <img src="/images/discover.png" height="39">-->
    <!--                <img src="/images/mastercard.png" height="39">-->
    <!--            </div>-->
    <!--            <div class="col-md-1 footer-columns offset-md-1">-->
    <!--                <h6 class="white footer-column-header" style="margin-bottom: 20px;">COMPANY</h6>-->
    <!--                <h6 class="footer-item"><a class='footer-link background-transparent' href='/about'>About</a></h6>-->
    <!--                <h6 class="footer-item"><a class='footer-link background-transparent' href='https://medium.com/@rxcarriers' target="_blank">Blog</a></h6>-->
    <!--                <h6 class="footer-item"><a class='footer-link background-transparent' href='/contact'>Contact</a></h6>-->
    <!--            </div>-->
    <!--            <div class="col-md-1 footer-columns offset-md-2">-->
    <!--                <h6 class="white footer-column-header" style="margin-bottom: 20px;">SERVICES</h6>-->
    <!--                <h6 class="footer-item"><a class='footer-link background-transparent' href='/pharmacy/login'>Pharmacies</a></h6>-->
    <!--                <h6 class="footer-item"><a class='footer-link background-transparent' href='/legal/terms'>RxDigital</a></h6>-->
    <!--                <h6 class="footer-item"><a class='footer-link background-transparent' href='https://rxcarriers.zendesk.com/hc/en-us' target="_blank">Support</a></h6>-->
    <!--            </div>-->
    <!--            <div class="col-md-1 footer-columns offset-md-2">-->
    <!--                <h6 class="white footer-column-header" style="margin-bottom: 20px;">LEGAL</h6>-->
    <!--                <h6 class="footer-item"><a class='footer-link background-transparent' href='/legal/privacy'>Privacy</a></h6>-->
    <!--                <h6 class="footer-item"><a class='footer-link background-transparent' href='/legal/terms'>Terms</a></h6>-->
    <!--                <h6>-->
    <!--                    <a class='footer-link background-transparent' href='https://stripe.com/us/privacy/' target="_blank">-->
    <!--                        Stripe-->
    <!--                    </a>-->
    <!--                </h6>-->
    <!--            </div>-->
            <!--</div>-->
    <!--    </div>-->
    <!--</div>-->
    <div style="width: 100%; padding: 30px 0; background: #232830;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="background-transparent white">&copy; 2018 Senzzu</span>
                    <span style="margin-left: 8px;">
                        <a class='footer-link background-transparent'
                            href='/legal/privacy' target="_blank">
                            Privacy
                        </a>
                    </span>
                    <span style="margin-left: 8px;">
                        <a class='footer-link background-transparent'
                            href='https://app.termly.io/document/terms-of-use-for-online-marketplace/1fd0ea66-a5be-4369-80ea-34ea5c6a23cd' target="_blank">
                            Terms
                        </a>
                    </span>
                    <span style="margin-left: 8px;">
                        <a class='footer-link background-transparent'
                            href='/contact-us' target="_blank">
                            Contact
                        </a>
                    </span>
                </div>
                <div class="col-md-2 offset-md-6" id="socialTags">
                    <span class="badge badge-light badge-circle-medium">
                        <a href="https://instagram.com/senzzu_hq" class="background-transparent" target="_blank">
                            <i class="fa fa-instagram theme-color" style="font-size: 20px; margin-top: 2px;"></i>
                        </a>
                    </span>
                    <span class="badge badge-light badge-circle-medium" style="margin-left: 8px;">
                        <a href="https://twitter.com/senzzu_hq" class="background-transparent" target="_blank">
                            <i class="fa fa-twitter theme-color" style="font-size: 20px; margin-top: 2px;"></i>
                        </a>
                    </span>
                    <span class="badge badge-light badge-circle-medium" style="margin-left: 8px;">
                        <a href="https://facebook.com/senzzu_hq" class="background-transparent" target="_blank">
                            <i class="fa fa-facebook theme-color" style="font-size: 20px; margin-top: 2px;"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>