<style>
    p.text-muted {
        margin-bottom: 10px !important;
    }
</style>

<footer id="non-authenticated-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="font-15 text-muted"
                    style="height: 100%; vertical-align: middle !important;
                            margin-left: 5px;">
                    &copy; 2019 DinnerHost
                </span> |
                <span class="text-muted">
                    <a href="/terms">Terms</a>
                </span> |
                <span class="text-muted">
                    <a href="https://app.termly.io/document/privacy-policy/613ee504-9fd4-475c-8339-ffc94ae03f72">Privacy</a>
                </span> |
                <span class="text-muted">
                    <a href="/contact-us">Contact</a>
                </span>
            </div>
            <div class="col-md-12 text-center">
                <p class="text-muted">
                   Made with
                   <i class="fa fa-heart theme-red font-16"></i>
                   in Boston, MA 
                </p>
            </div>
            <div class="col-md-12" align="center">
                <span class="badge badge-primary badge-circle-medium">
                    <a href="https://instagram.com/dinnerhost" class="background-transparent" target="_blank">
                        <i class="fa fa-instagram" style="font-size: 20px; margin-top: 2px; margin-left: 1px; color: #fff;"></i>
                    </a>
                </span>
                <span class="badge badge-primary badge-circle-medium" style="margin-left: 8px;">
                    <a href="https://twitter.com/trydinnerhost" class="background-transparent" target="_blank">
                        <i class="fa fa-twitter" style="font-size: 20px; margin-top: 2px; margin-left: 1px; color: #fff;"></i>
                    </a>
                </span>
                <span class="badge badge-primary badge-circle-medium" style="margin-left: 8px;">
                    <a href="https://facebook.com/trydinnerhost" class="background-transparent" target="_blank">
                        <i class="fa fa-facebook" style="font-size: 20px; margin-top: 2px; margin-left: 1px; color: #fff;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>