<nav class="navbar navbar-expand-lg main-navbar main--navbar">
    <%= render "layouts/postscroll_navbar" %>
</nav>
<script type="text/javascript">
    $('#request-location').click(function() {
        $('#request-location')
        .css({'width': '430px'})
        .toggleClass('no-bottom-radii');
        $('.input-group-text')
        .toggleClass('no-bottom-radii');
        $('#search-box').fadeIn();
    });
    
    $('#request-location').focusout(function() {
        $('#request-location')
        .toggleClass('no-bottom-radii');
        
        $('.input-group-text')
        .toggleClass('no-bottom-radii');
    });
</script>