<nav class="navbar navbar-expand-lg fixed-top main-navbar">
    <div class="container">
        <a class="navbar-brand cursor-pointer" href="/">Book-a-Chef</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-links">
                <li class="nav-item">
                    <a class="nav-link theme-color cursor-pointer">
                        <i class="fa fa-search navbar-search-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link theme-color" href="/customer/login">
                        Log in
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link theme-color" href="/customer/register">
                        Sign up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary white nav-link" href="/chef/signup">
                        Become a chef
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>