<!-- Loader modal-->

<div class="modal" id="order-processing-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 1051 !important; margin-top: 100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content box-shadow" style="padding: 15px;">
            <div class="modal-body" id="order-in-process">
                <div class="text-center col-md-12" id="orderLoading">
                    <span>
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-color"
                            style="font-size: 50px;">
                        </i>
                    </span><br />
                    <p class="add-margin-top">Processing...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Shopper authentication modal-->

<div class="modal fade" id="shopperAuthentication" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 1051 !important;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="authenticationModal">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <a class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                </a>
            </div>
            <div class="modal-body" id="authenticationModalBody">
                <form onsubmit="loginShopper()" id="shopperLoginForm" data-remote="true">
                    <input type="email" class="form-control add-margin-bottom" placeholder="email" id="loginEmail" required="true">
                    <input type="password" class="form-control add-margin-bottom" placeholder="password" id="loginPassword" required="true">
                    <button type="submit" class="btn btn-primary btn-block add-margin-bottom height-50" id="loginBtn" onclick="loginShopper()">
                        Log in
                    </button>
                </form>
                <p class="theme-blue text-center">
                   <a class="btn btn-link" onclick="toggleAuth('login')">
                       New to Senzzu? <span class="theme-color">Signup</span>
                   </a>
                </p>
            </div>
        </div>
    </div>
</div>