<!--<div class="container">-->
    <a class="navbar-brand cursor-pointer" href="/"><img src="/images/logo-transparent.png" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fa fa-bars"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-links">
            <li class="nav-item">
                <a class="nav-link main-nav-link cursor-pointer" data-toggle="modal"
                    data-target="#customerAuthentication">
                    Log in
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary white nav-link box-shadow" href="/chef/signup"
                    id="become-a-chef">
                    Become a chef
                </a>
            </li>
        </ul>
    </div>
<!--</div>-->